body{
    text-align: center;
    font-family: 微軟正黑體;
}

li{
    text-align: left;
}

.container{

    margin : 0% 10%;
    text-align: left;

}

.button_style{
    width:300px;
    height:100px;


}


